.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 0;
  width: calc(100vw - 300px);
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-image: url(../../public/assets/portada2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container.opt {
  background-image: url(../../public/assets/portada1.jpg);
}

.container.surprise {
  background-image: url(../../public/assets/tarjeta.png);
  background-size: contain;
}